/*============== Side menu ================*/

.side-menu{
    position: fixed;
    height: 100vh;
    background-color: var(--color-main);
    transition: 200ms ease-in-out;
    font-family: 'Roboto', sans-serif;
    color: var(--color-bg);
    z-index: 1000;
}

.side-menu hr {
    width: 90%;
}

.side-menu h1 {
    margin-left: 1rem;
    margin-right: 1rem;
    justify-self: center;
}

.side-menu-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    padding: 0;
    width: 100%;
    transition: 200ms ease-in-out;
}

.nav-item:hover {
    background: var(--color-bright);
}

.side-menu-link {
    margin: 0.25rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: inherit;
    font-size: 1.25rem;
}

.side-menu-link img {
    width:2rem;
    height:2rem;
}
