.tournament-elem{
    border-radius: 5px;
    margin-top: 0.5rem;
    transition: 0.2s;
}

.tournament-elem:hover{

    //box-shadow: 3px 0px 0px var(--color-main);
    //box-shadow: -3px 0px 0px var(--color-main);
    //box-shadow: 0 0 0px 3px var(--color-main);
    box-shadow: 0 0 8px -2px var(--color-main);
    
    cursor: pointer;
}
