<div class="edit-rounds-component" *ngIf="showOverlay">
    <div class="overlay-bg" (click)="hide()"></div>
    <div class="overlay-card">
        <div class="toolbar">
            <div class="main_title">
                Editar Rondas
            </div>
        </div>
        <div class="page-content">
            <p>
                Estas son las rondas que hay en el torneo:
            </p>
            <ul>
                <li *ngFor="let round of roundsCopy">{{round.name}} <span (click)="remove(round)">&times;</span> </li>
            </ul>
            <input type="text" [(ngModel)]="newRound">
            <button (click)="addRound()">Add round</button>
            <button (click)="saveRounds()">Save</button>
        </div>
    </div>

</div>


