.rounds-card{
    margin-top: 1rem;
    background: var(--color-bg2);
}

::ng-deep .bg-test{
    background: rgb(105, 105, 105);
}

.chevron {
    fill: var(--color-text);
    height: 2rem;
    width: 2rem;
}

.score-item{
    display: flex;
    flex-wrap: wrap;
    background: none;
    color: white;
    border: none;
}

.team-name{
    width: fit-content;
}
