<div class="page-content tournament-rounds">
    <h1>Torneo</h1>
    <app-tournament-card *ngIf="tournament" [tournament]="tournament"></app-tournament-card>
    <hr>
    <div class="card content-card">
        <div class="card-header">
            <h2 class="d-inline">Equipos</h2>
            <span *ngIf="isLoggedIn" [class]="'edit-icon'" [inlineSVG]="'assets/svg/edit.svg'" (click)="editTeams()"></span>
        </div>
        <div class="card-body">
            <div class="row m-0">
                <div class="col-lg list-group p-0 custom-scrollbar" id="teams-list">
                    <button type="button" 
                        *ngFor="let team of teams"
                        (click)= "selectTeam(team)"
                        [class]="'team-list-item ' + (activeTeam === team ? 'selected' : '')" 
                        class="text-white list-group-item list-group-item-action">

                        {{team.name}}
                    </button>
                </div>
                <div class="col-lg m-0 p-0 content-card nest1" id="team-card">
                    <div class="card-header" id="team-header">
                        <span [inlineSVG]="'assets/svg/team.svg'" [setSVGAttributes]="{'height':'2rem', 'width':'2rem'}" [class]="'team-icon'"></span>
                    </div>
                    
                    <div class="list-group custom-scrollbar">
                        <button 
                        [class]="'team-list-item'" 
                        *ngFor="let player of displayParticipants"
                        (click)="playerClicked(player)"
                        class="text-white list-group-item list-group-item-action">            
                            {{player.summonerName}}
                        </button>
                    </div>
                                    <!-- <div class="card-body"> -->
                    <!-- </div> -->
                </div>
            </div>
            <!-- <ul>
                <li *ngFor="let team of teams"> {{team.name}} </li>
            </ul> -->
        </div>
    </div>
    <div class="card content-card">
        <div class="card-header">
            <h2 class="d-inline">Rondas</h2>
            <span *ngIf="isLoggedIn" [class]="'edit-icon'" [inlineSVG]="'assets/svg/edit.svg'" (click)="editRounds()"></span>
        </div>
        <div class="card-body">
            <ngb-accordion #acc="ngbAccordion">

                <ngb-panel *ngFor="let round of roundList" [cardClass]="'round-elem'" id="{{round.id}}">
                    <ng-template ngbPanelHeader>
                        <button ngbPanelToggle class="btn text-white text-left m-0 w-100 h-100"> 
                            <span [ngClass]="'chevron'" [inlineSVG]=" acc.isExpanded(round.id) ? 'assets/svg/chevronup.svg' : 'assets/svg/chevrondown.svg'"></span>
                            {{round.name}}
                        </button>
                        <span *ngIf="isLoggedIn" [class]="'edit-icon'" [inlineSVG]="'assets/svg/edit.svg'" (click)="editSets(round.id)"></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <app-set-row [set]="set" [animate]="true"
                                *ngFor="let set of round.sets" 
                                [routerLink]="'/tournaments/'+tournament.id+'/'+round.id+'/set/'+set.id">
                            </app-set-row>
                        </ul>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>
<app-edit-rounds *ngIf="tournament" 
    [showOverlay$]="this.editRoundsOverlay$" 
    [tournament]="tournament" 
    [rounds]="roundList"></app-edit-rounds>
<app-edit-teams *ngIf="tournament" 
    [showOverlay$]="this.editTeamsOverlay$" 
    [tournament]="tournament" 
    [teams]="teams"></app-edit-teams>
<app-edit-sets *ngIf="tournament" 
    [showOverlay$]="this.editSetsOverlay$" 
    [tournament]="tournament" 
    [rounds]="roundList" 
    [teams]="teams"></app-edit-sets>