.rounds-card{
    margin-top: 1rem;
    background: var(--color-bg2);
}

::ng-deep .round-elem{
    background: rgb(92, 92, 92);
    transition: 200ms;
}

.chevron {
    fill: var(--color-text);
    height: 2rem;
    width: 2rem;
}

.score-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: none;
    color: white;
    transition: 200ms;
    &:hover{
        border-radius: 10px;
        box-shadow: 
            inset -3px 0px 0px 1px var(--color-main), 
            inset 3px 0px 0px 1px var(--color-main);
        cursor: pointer;
    }
}


.col{
    min-width: fit-content;
    max-width: 33%;
}