.content-card{
    margin-top: 1rem;
    background: var(--color-bg2);

    &.nest1{
        background: var(--color-bg3);
    }
    &.nest2{
        background: var(--color-bg4);
    }
}

.team-list-item {
    background: var(--color-bg4);
    transition: 200ms;

    &.selected {
        box-shadow: inset -4px 0px 0px -1px var(--color-main);
    }

    &:hover {
        background:var(--color-bg3);
    }
}

::ng-deep .round-elem{
    background: var(--color-bg4);
    transition: 200ms;
    &:hover{
        background: var(--color-bg3);
    }
}

.chevron {
    fill: var(--color-text);
    height: 2rem;
    width: 2rem;
}

.edit-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    fill: gray;
    transition: 200ms;

    &:hover {
        cursor: pointer;
        fill: var(--color-text);
    }
}

.team-icon{
    fill:  var(--color-main);
}

#teams-list {
    overflow-y: scroll;
    max-height: 300px;
}

#team-header {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: .54rem;
    padding-bottom: .54rem;
}

#team-card {
    border-radius: 3px;

    .list-group {
        overflow-y: scroll;
        max-height: 250px;
    }

    .team-list-item{
        background: transparent;
    }
}

.score-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: none;
    color: white;
    transition: 200ms;
    &:hover{
        border-radius: 10px;
        box-shadow: 
            inset -3px 0px 0px 1px var(--color-main), 
            inset 3px 0px 0px 1px var(--color-main);
        cursor: pointer;
    }
}

.col{
    min-width: fit-content;
    max-width: 33%;
}