<div class="page-content tournament-rounds">
    <h1>Torneo</h1>
    <app-tournament-card *ngIf="tournament" [tournament]="tournament"></app-tournament-card>
    <hr>
    <div class="card rounds-card">
        <div class="card-header">
            <h2 class="d-inline">Equipos</h2>
        </div>
        <div class="class-body">
            <ul>
                <li *ngFor="let team of teams"> {{team.name}} </li>
                <span *ngIf="isLoggedIn" [class]="'edit-icon'" [inlineSVG]="'assets/svg/edit.svg'" (click)="editTeams()"></span>
            </ul>
        </div>
    </div>
    <div class="card rounds-card">
        <div class="card-header">
            <h2 class="d-inline">Rondas</h2>
            <span *ngIf="isLoggedIn" [class]="'edit-icon'" [inlineSVG]="'assets/svg/edit.svg'" (click)="editRounds()"></span>
        </div>
        <div class="card-body">
            <ngb-accordion #acc="ngbAccordion">

                <ngb-panel *ngFor="let round of roundList" [cardClass]="'round-elem'" id="{{round.id}}">
                    <ng-template ngbPanelHeader>
                        <button ngbPanelToggle class="btn text-white text-left m-0 w-100 h-100"> 
                            <span [ngClass]="'chevron'" [inlineSVG]=" acc.isExpanded(round.id) ? 'assets/svg/chevronup.svg' : 'assets/svg/chevrondown.svg'"></span>
                            {{round.name}}
                        </button>
                        <span *ngIf="isLoggedIn" [class]="'edit-icon'" [inlineSVG]="'assets/svg/edit.svg'" (click)="editSets(round.id)"></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <app-set-row [set]="set" [animate]="true"
                                *ngFor="let set of round.sets" 
                                [routerLink]="'/tournaments/'+tournament.id+'/'+round.id+'/set/'+set.id">
                            </app-set-row>
                        </ul>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>
<app-edit-rounds *ngIf="tournament" 
    [showOverlay$]="this.editRoundsOverlay$" 
    [tournament]="tournament" 
    [rounds]="roundList"></app-edit-rounds>
<app-edit-teams *ngIf="tournament" 
    [showOverlay$]="this.editTeamsOverlay$" 
    [tournament]="tournament" 
    [teams]="teams"></app-edit-teams>
<app-edit-sets *ngIf="tournament" 
    [showOverlay$]="this.editSetsOverlay$" 
    [tournament]="tournament" 
    [rounds]="roundList" 
    [teams]="teams"></app-edit-sets>